[2022-01-13 12:57] sibelius opened #3 "add follow @sseraphini button"
- [ ] be able to follow me

[2022-01-13 13:03] sibelius opened #4 "testing library tests"
We can't break Learning in Public

[2022-01-13 14:35] cdbm commented on #3
i can do this

[2022-01-13 17:08] sibelius commented on #4
fixed here https://github.com/sibelius/ccsseraphini/pull/6

[2022-01-13 17:08] #4 closed

[2022-01-14 10:35] #3 closed

[2022-01-14 10:35] sibelius opened #8 "dark mode"
dark mode would be cool

[2022-01-14 10:35] sibelius opened #9 "add github repo link"

[2022-01-14 11:03] sibelius opened #13 "donation"
- [x] be able to donate btc/eth to my wallet

[2022-01-14 11:04] sibelius opened #14 "patreon"
- [ ] show my patreon, to get me some sponspors

[2022-01-14 11:14] EmanuelCampos opened #15 "add a modal"
- [ ] open a modal when click on the photo of sseraphini
- [ ] add ETH/BTC sseraphini wallets to receive donations
- [ ] add the sseraphini's patreon URL

[2022-01-14 12:10] vitorsouzaalmeida opened #16 "Design"
# Help with design

I don't like the actual layout. Maybe looks better if:

- change the background to white like Twitter
- make the interface with rounded corners
- change the Sibelius logo to rounded corners like of:image of his [newsletter](https://images-ext-1.discordapp.net/external/Ga3GqURrbhFTwtzP3bfYqd-ig-3Yq6heOlCGDq_f6_M/https/cdn.substack.com/image/fetch/w_1128%2Ch_564%2Cc_fill%2Cf_jpg%

[2022-01-14 12:16] sibelius commented on #13
- [ ] ethereum
- [ ] bitcoin
- [ ] solana

[2022-01-14 12:45] sibelius commented on #16
![image](https://user-images.githubusercontent.com/2005841/149517424-99f418fa-bd84-4770-ac62-7ba67fd93058.png)

[2022-01-14 12:45] sibelius commented on #13
![image](https://user-images.githubusercontent.com/2005841/149517452-c6b5a4b1-374c-424a-bbc7-5479ac3dc737.png)

[2022-01-14 12:45] sibelius opened #19 "terminal"
- [ ] be able to tweet from terminal
- [ ] npx ccsseraphini "How can I learn Relay?"

[2022-01-14 12:46] sibelius opened #20 "latest cc @sseraphini tweets"
- [  ] a twitter timeline with all tweets that has `cc @sseraphini`

[2022-01-14 12:58] wesleynepo commented on #9
I saw the @victordantasdev PR, and wonder If this would be better?
![image](https://user-images.githubusercontent.com/50495587/149518787-7f1a0a0f-957f-4b22-a62e-9a881c49413b.png)

[2022-01-14 13:22] joao-pedrozo commented on #14
I will work on it, PR will be opened ASAP!

[2022-01-14 14:48] santosant opened #23 "Add new text suffix to promote site"
We need to promote tweets coming from the site
like "via https://ccsseraphini.vercel.app/"

![image](https://user-images.githubusercontent.com/17819811/149534709-22b37c06-25ea-4be7-b72a-e0bac5eebda2.png)

[2022-01-14 15:38] danielcti commented on #20
I can work on it. Should we add the tweet API logic in the api folder, right?

[2022-01-14 16:25] #14 closed, assigned to nobody

[2022-01-14 16:46] sibelius commented on #23
maybe this is too much promotion

[2022-01-14 21:50] biantris opened #25 "Button for your Newsletter or Articles"
Add a button that redirects to https://sibelius.substack.com/

[2022-01-14 22:41] danielcti commented on #20
@sibelius I've created a Twitter API account, but I think you will have your own API account, right? I will get the Bearer Token from the .env file, so you can put your token there.
Btw I will open the PR soon.

[2022-01-14 22:43] sibelius commented on #20
Keep the env name in a .env.example and I add a secret later on

[2022-01-15 20:07] #25 closed

[2022-01-16 02:32] miltonsermoud opened #29 "Go to tweet"
Tweets are important, but replies are even more.
In addition to #26, I would suggest add a link (a button, maybe) which redirects to the actual tweet.

[2022-01-16 23:15] sibelius opened #31 "monorepo"
- [ ] [ccserahpini](https://ccsseraphini.vercel.app/)
- [ ] npx ccsseraphini

[2022-01-16 23:44] danielcti commented on #20
TODO:
- [ ] Add a button in the homepage redirecting to this page
- [ ] Fetch more than 10 tweets, with pagination or infinite scroll.
- [ ] Add how long ago the tweet was added, i.e., (12min ago).

[2022-01-17 12:12] #9 closed

[2022-01-17 12:13] sibelius commented on #9
corner fork is a common pattern

[2022-01-17 13:15] santosant commented on #23
Sure

[2022-01-17 13:15] #23 closed

[2022-01-17 23:09] ftonato commented on #15
![over](https://user-images.githubusercontent.com/5417662/149846212-171205fb-f9c7-429a-9d1e-3d8154697b25.gif)

[2022-01-18 15:08] joao-pedrozo opened #44 "idea: twitter bot with tagging count"
a Twitter bot that posts every day in a determined time of the day how many times @sseraphini was tagged today, and below how many times in total he was tagged

![image](https://user-images.githubusercontent.com/40037644/149963267-8bc7ecba-2f41-4b5f-9afe-bf4890d9d509.png)

just an idea, what do you guys think?

[2022-01-18 15:44] santosant commented on #44
Good ideia, but i think a counter at website is better

[2022-01-18 15:51] thel3onardo commented on #44
If this twitter bot posts not only the count, but also creates a thread that contains the posts that sseraphini was mentioned in that day, it would be really nice and helpful.

[2022-01-18 17:00] joao-pedrozo commented on #44
why not both?

[2022-01-18 17:02] joao-pedrozo commented on #44
why u think that it would be helpful?

[2022-01-19 02:13] sibelius commented on #31
done here https://github.com/sibelius/ccsseraphini/pull/47

[2022-01-19 02:13] #31 closed

[2022-01-19 02:19] sibelius commented on #13
eth - 0xb9A5d5BA75339B1fF4cCdAefa0e3da1543A65d52

[2022-01-19 10:45] sibelius commented on #20
I'm gonna split new features in more issues, so more people can contribute

[2022-01-19 10:45] #20 closed

[2022-01-19 10:47] sibelius opened #51 "make it closer to twitter"
- [ ] sseraphini.cc
![image](https://user-images.githubusercontent.com/2005841/150115207-d49704a4-0b36-4b96-a64c-8fd85c652605.png)
- [ ] twitter
![image](https://user-images.githubusercontent.com/2005841/150115254-62c31a4e-26da-467a-a6bc-d7d643f3d4da.png)
- [x] retweets counts
- [x] likes count
- [x] tweet time
- [ ] be able to go to tweet user

[2022-01-19 10:48] sibelius opened #52 "warn when there is no metamask chrome extension"

[2022-01-19 12:26] daniloab commented on #13
related https://github.com/sibelius/ccsseraphini/issues/15

[2022-01-19 12:26] daniloab commented on #15
related https://github.com/sibelius/ccsseraphini/issues/13

[2022-01-19 12:52] EmanuelCampos opened #53 "add tweet timestamp in latest tweets"
add to the latest tweets the date that the tweet/mention was published

[2022-01-19 12:52] sibelius commented on #13
- [  ] sol 24gVn4dinDmqHeCmXHhySet3swxMc3Jup7iYSFTbgztm

[2022-01-19 12:53] sibelius commented on #53
check this https://github.com/sibelius/ccsseraphini/issues/51

[2022-01-19 12:53] #53 closed

[2022-01-19 13:22] noghartt opened #55 "A chrome extension"
Write an extension to chrome browser that is able to write tweets with "cc @sseraphini".

## References

- [Creating a Chrome Extension with React](https://javascript.plainenglish.io/creating-a-chrome-extension-with-react-d92db20550cb)

[2022-01-19 13:48] sibelius opened #56 "smart contract to give access to my discord"
- [ ] buy a token from a smart contract to get access to my discord
- [ ] similar to patreon, but using web3

[2022-01-19 13:48] sibelius commented on #51
copy tweet design

[2022-01-19 18:34] danielcti commented on #51
I dont't know why there is &gt and not >, maybe we need to decode the tweet text.
![image](https://user-images.githubusercontent.com/31549323/150192602-9dd8a570-3128-481f-b251-eb0fad3b05e7.png)

[2022-01-20 01:01] sibelius commented on #13
maybe too hard to btc

[2022-01-20 01:01] #13 closed

[2022-01-20 15:31] daniloab opened #68 "first wrapper do not make clear that exist the latest tweets ui/ux"
## Why it is needed
Make clear and usable to understand that exist the latest tweet timeline
![Screen Shot 2022-01-20 at 12 30 44](https://user-images.githubusercontent.com/19939822/150369634-0d3a3244-e97c-4f38-9437-a651405638e6.png)

## Possible implementation
- [ ] improve the CSS
- [ ] or have some icon showing that has more content to below

### Code sample
- [ ] add a bottom arrow
- [ ] or ju

[2022-01-20 20:48] biantris commented on #68
good issue!

[2022-01-23 02:38] sibelius commented on #55
boilerplate https://github.com/sibelius/ccsseraphini/pull/72

[2022-01-24 01:48] NicolasLopes7 opened #83 "Create CI/CD actions for cli package"
# Feature Request
Create GitHub actions to do the CI/CD for the cli package, basically, these actions should:
- Run-on MacOS
- Run-on Ubuntu
- Run-on Windows
- Publish on NPM when a new release is launched

## Why it is needed
Make the app move faster with an easy deployment process.

[2022-01-24 01:58] sibelius commented on #68
fixed here https://github.com/sibelius/ccsseraphini/pull/76

[2022-01-24 01:58] #68 closed

[2022-01-24 01:58] #52 closed

[2022-01-24 01:58] #29 closed

[2022-01-24 01:58] #15 closed

[2022-01-24 11:38] EmanuelCampos opened #85 "fixed sseraphini box"
make the sseraphini box fixed to follow the latest tweets

![image](https://user-images.githubusercontent.com/16262455/150776278-3ab34e64-a136-4327-b7ce-e63a934c9f8b.png)

![image](https://user-images.githubusercontent.com/16262455/150776212-cddfd0d1-d2ca-43f1-8ced-945d0ec45e5a.png)

[2022-01-24 22:50] sibelius opened #86 "Donate Pix"
- [ ] chave Pix c78052c6-43e5-4732-a9ef-90fd615ed638

[2022-01-25 10:48] sibelius commented on #86
EMV `00020126580014br.gov.bcb.pix0136c78052c6-43e5-4732-a9ef-90fd615ed6385204000053039865802BR5918Sibelius Seraphini6006Cidade62160512ccsseraphini630452D6`

[2022-01-25 11:07] erick-tmr opened #92 "Dockerize the application"
# Feature Request

how about dockerize the application?

## Why it is needed

For people who don't want to install the dependencies on their machine

[2022-01-26 01:42] #86 closed

[2022-01-26 02:14] sibelius commented on #55
- [ ] release CI/CD

[2022-01-26 11:23] sibelius opened #101 "share code web + chrome-ext"
- [ ] monorepo is for code sharing
- [ ] we should be able to use the same code on web and on chrome ext

[2022-01-26 11:45] sibelius opened #102 "pix copia e cola"
- [ ] we need to be able to copy the QRCode content when using a mobile phone

[2022-01-26 11:46] sibelius commented on #102
- [ ] add a simple copy button

[2022-01-26 13:09] lukelima commented on #102
Since I can't help right now, here is a suggestion:
Show the emv created in #86 inside a readonly input field with a copy button. Once copied, the emv can be pasted into your online banking app and it will work!

[2022-01-26 14:18] #51 closed

[2022-01-26 14:55] #102 closed

[2022-01-26 14:55] sibelius commented on #85
make it stick

[2022-01-27 18:06] lukelima commented on #92
Since there are 3 applications, all 3 should have their own dockerfile, right?

[2022-01-27 18:08] lukelima commented on #8
We need a Sibelius logo with 🕶️ for dark mode

[2022-01-27 18:14] sibelius commented on #8
what about just inverting the colors of my logo for now?

[2022-01-27 18:35] santosant opened #114 "Avoid tweets without questions at Timeline"
# Question

We can avoid this kind of tweet at Timeline??

![image](https://user-images.githubusercontent.com/17819811/151422032-5d508930-9b8d-4ad5-9b43-cb70d9fa044d.png)

[2022-01-27 18:51] biantris commented on #114
Actually he did, but the cc is in the reply, I think it's ok to show

![image](https://user-images.githubusercontent.com/65451957/151424279-b1ae6dcf-1e5e-4f69-8539-0a0074291a35.png)

[2022-01-27 19:01] erickm93 commented on #92
yes, I'm doing it in that way

[2022-01-27 20:09] Lorenzobattistela opened #115 "Error when clicking Phantom donate button"
# Bug

Testing the official website, I tried to click the Phantom donate button:
![image](https://user-images.githubusercontent.com/70359945/151434815-006a699c-51a3-4eb1-8d3d-331469199be1.png)
When clicked the button returned me an error:
![image](https://user-images.githubusercontent.com/70359945/151434765-f34a5d28-85e1-4018-8382-061a70d3655c.png)

The cause of the error is probably a MetaMask or

[2022-01-27 20:10] Lorenzobattistela commented on #115
I suggest investigating the code, i would do it myself but im not familiar with the stack used

[2022-01-28 03:20] danielcti commented on #44
https://developer.twitter.com/en/docs/twitter-api/tweets/counts/api-reference
![image](https://user-images.githubusercontent.com/31549323/151481639-17295fc9-eb16-44b6-ac8d-2d50196c2b4e.png)
To get all time tweet counts it requires the academic research access(https://developer.twitter.com/en/products/twitter-api/academic-research)

[2022-01-28 10:08] #115 closed

[2022-01-28 10:08] sibelius opened #119 "Add download chrome extension button"
Let developers download chrome extension https://chrome.google.com/webstore/detail/ccsseraphini/jbdolkjfpfgpbdeeebkhnmfnbkplgalm

[2022-01-28 13:26] noghartt opened #121 "Add an option to bookmark tweets with ccseraphini extension"
## Feature request

What about adding a feature to add a specif tweet into a bookmark list to quickly access on the extension tab.

And we could add another feat to connect the Twitter account in the extension to visualize the tweets with "cc @sseraphini" made by the user.

[2022-01-28 13:52] sibelius opened #122 "add a button for Mentorship"
- [ ] new button
- [ ] go to the gist: https://gist.github.com/sibelius/a2b333fa006bdd932e5a3c0c0de914b4

[2022-01-28 13:52] sibelius commented on #115
fixed on main branch

can you test again?

reopen if needed

[2022-01-28 14:07] sibelius commented on #119
fixed here https://github.com/sibelius/ccsseraphini/pull/120

[2022-01-28 14:07] #119 closed

[2022-01-28 14:11] Lorenzobattistela commented on #115
Testes again, now the error returns me the reason:

Check if Phantom is installed

[2022-01-28 14:41] sibelius commented on #122
fixed here https://github.com/sibelius/ccsseraphini/pull/123

[2022-01-28 14:41] #122 closed

[2022-01-28 14:41] sibelius commented on #55
fixed here https://chrome.google.com/webstore/detail/ccsseraphini/jbdolkjfpfgpbdeeebkhnmfnbkplgalm

[2022-01-28 14:41] #55 closed

[2022-01-28 14:43] sibelius opened #124 "show mentions count of cc @sseraphini"
![image](https://user-images.githubusercontent.com/2005841/151566584-07cf66f2-7608-41e3-b7cd-3d2175173170.png)

- [ ] <>K mentions these month
- [ ] maybe this endpoint https://developer.twitter.com/en/docs/twitter-api/v1/tweets/timelines/api-reference/get-statuses-mentions_timeline

[2022-01-28 14:44] sibelius opened #125 "suggest adding `cc @sseraphini` when using chrome-ext"
![image](https://user-images.githubusercontent.com/2005841/151566784-632a2f9b-9837-4345-b85d-6fe1b92799d7.png)

- [ ] similar to gmail / grammarly suggestions
- [ ] check if website is twitter and the tweet composer is open
- [ ] https://twitter.com/compose/tweet

[2022-01-28 14:54] noghartt opened #126 "A VSCode extension"
## Feature request

Adding a VSCode extension that can tweet with "cc @sseraphini" and accompanied by a screenshot of the selected code.

[2022-01-28 14:57] biantris commented on #126
nice o/

[2022-01-28 15:57] #114 closed

[2022-01-28 17:38] sibelius commented on #85
fixed it here https://github.com/sibelius/ccsseraphini/pull/128

[2022-01-28 17:38] #85 closed

[2022-01-28 17:55] sibelius opened #131 "render tweet images"
- [ ] memes need images

[2022-01-29 13:09] #83 closed

[2022-01-31 11:07] #131 closed

[2022-01-31 11:07] sibelius opened #136 "tweet render link preview"

[2022-02-01 12:36] ubmit commented on #136
I wasn't able to understand what we should achieve by solving this issue. Do you mind giving an example or describing it further?

[2022-02-01 12:38] ubmit commented on #19
This issue can be closed in favor of #30, right?

[2022-02-01 13:00] #19 closed

[2022-02-01 13:01] sibelius commented on #136
Check this tweet https://twitter.com/sseraphini/status/1488482763548332041?s=21

On twitter
And also on sseraphini.cc

[2022-02-01 18:49] ubmit commented on #136
Got it! I'll start working on this 🙌

[2022-02-01 19:28] ubmit commented on #136
Is the `main` branch outdated (when comparing to production) somehow? When running it locally, there isn't the "latest tweets" section.

![image](https://user-images.githubusercontent.com/8797405/152037413-c0dda96e-7807-469b-a896-63a194ca9388.png)

[2022-02-01 19:49] sibelius commented on #136
you need a twitter bearer token https://github.com/sibelius/ccsseraphini/tree/main/apps/web#twitter_bearer_token

[2022-02-01 19:49] sibelius commented on #136
maybe we can have an error if twitter bearer token is missing on dev mode

[2022-02-01 20:00] ubmit commented on #136
Sorry, didn't realize that there was a `README` inside the `web` folder 😓. Thanks 🙌

[2022-02-02 00:11] ubmit commented on #8
@santosant are you working on this issue?

[2022-02-02 00:41] sibelius commented on #8
feel free to give a try

[2022-02-02 00:41] sibelius commented on #8
https://github.com/sibelius/ccsseraphini/pull/22

this was the first attempt

[2022-02-02 00:49] ubmit commented on #136
Solved by #143

[2022-02-02 01:02] #136 closed

[2022-02-03 11:49] sibelius opened #157 "Suggest related tweets with related questions"
- [ ] use twitter search api to suggest related tweets given a question

[2022-02-03 17:39] sibelius opened #159 "make hashtags clickable"
![image](https://user-images.githubusercontent.com/2005841/152397939-96b42841-a1f2-47cd-8bf8-843c1ee26b4b.png)

[2022-02-03 17:40] sibelius opened #160 "make like, retweet, and quote retweet clickable"
![image](https://user-images.githubusercontent.com/2005841/152398078-be80e585-8a83-4df3-842f-d59d60897333.png)

- [ ] make like, retweet, and quote retweet clickable

[2022-02-03 17:40] sibelius opened #161 "improve npx ccsseraphini readme"
![image](https://user-images.githubusercontent.com/2005841/152398197-8a41c988-c569-40b2-a7f1-7a37a592b1c8.png)

[2022-02-07 12:19] sibelius commented on #161
fixed

[2022-02-07 12:19] #161 closed

[2022-02-08 14:13] sibelius opened #181 "Correio anônimo button"
https://correioanonimo.com.br/
- add a button with correio anônimo

[2022-02-10 11:48] sibelius opened #188 "refresh timeline when get focus"
- [ ] it would be cool to refresh the timeline when the screen get focus again
- [ ] or a button to get most recente tweets without refreshing the whole screen

[2022-02-16 18:09] sibelius commented on #157
- [ ] twitter bot that reply with related question

[2022-02-20 19:21] #181 closed

[2022-02-22 16:32] juliomerisio opened #216 "search the tweets"
it would be cool to have the possibility to search the tweets

[2022-02-22 16:38] juliomerisio commented on #216
I'm going to implement in my next contribution

[2022-02-24 18:24] tgmarinho commented on #157
Bot that flood your server #ccseraphine channel with new tweets

[2022-02-24 18:59] sibelius commented on #157
- [ ] slack integration
- [ ] discord integration

[2022-02-24 19:00] sibelius commented on #157
- [ ] slack integration
- [ ] discord integration

[2022-02-25 06:53] sibelius commented on #188
You can do it

[2022-02-25 12:47] sibelius opened #224 "distributed RT proposal"
I have being tagged more than 30k times this month

![image](https://user-images.githubusercontent.com/2005841/155717399-ae14489b-3189-42f6-8c52-3795086c562c.png)

- [ ] be able to select a group of twitter users to be able to RT like me
- [ ] sseraphini.cc will grant access to these users, and only enable them to RT 'cc @sseraphini' tweets
- [ ] it should not be possible to post like me, or see o

[2022-02-25 13:38] fersilva16 commented on #56
We should use ERC-721 tokens for that, right?

[2022-02-25 13:41] NicolasPereira commented on #224
I believe it is too dangerous, especially the SPAM issue!

Is there a filter for RT's today or is it automated?

if it's automated and doesn't have a filter, someone could take advantage of it and share not-so-nice things

[2022-02-25 13:56] sibelius commented on #224
manual

[2022-02-25 13:58] sibelius commented on #56
ecr721 works

it would be cool to stake and yield some tokens as well

[2022-02-25 14:03] tgmarinho commented on #159
I'm doing this

[2022-02-25 15:04] pjonatansr commented on #224
how about if the community vote to validate the content?

And only when the post achieve a proposed number of validations a bot can rt/like

I think If it is your validation, only one is enough for rt/like

[2022-02-25 15:08] sibelius commented on #224
We can do a voting mechanism, but it would be slow

We can try many solutions

[2022-02-25 17:28] tgmarinho opened #226 "Bot that flood your server #ccseraphine channel with new tweets"
Bot that flood your server #ccseraphine channel with new tweets

_Originally posted by @tgmarinho in https://github.com/sibelius/ccsseraphini/issues/157#issuecomment-1050135893_

[2022-02-25 17:28] tgmarinho commented on #226
https://github.com/sibelius/ccsseraphini/issues/157#issuecomment-1050163766

[2022-02-25 17:29] tgmarinho commented on #226
- [ ] slack integration
- [ ] discord integration

[2022-02-25 17:34] sibelius commented on #188
I think a click would be better and more explict

[2022-02-25 18:31] sibelius commented on #188
Click in the button

[2022-02-25 20:19] tgmarinho commented on #226
I picked this one, integration with discord first, then we can split in another task integration with slack

[2022-02-25 20:26] sibelius commented on #188
Send the pull request and we can test in preview

[2022-02-25 20:49] tgmarinho commented on #188
revalidation on focus is nice:
https://swr.vercel.app/docs/revalidation

[2022-02-28 13:50] lukelima opened #230 "Left panel overflows screen on y axis"
# Bug

It overflows Y-axis and I can't see donation buttons no matter what I do. Had to zoom out to 80% screen size just to see them.

![Screenshot from 2022-02-28 10-48-44](https://user-images.githubusercontent.com/89654793/155994267-3b033259-6c46-4d58-b677-ee1734536470.png)

[2022-03-03 01:54] sibelius opened #241 "visualize cc sseraphini network"
Related content

- [ ] https://twitter.com/_grsoares/status/1411050757521133571
- [ ] https://towardsdatascience.com/insights-from-visualizing-public-data-on-twitch-a73304a1b3eb
- [ ] https://github.com/KiranGershenfeld/VisualizingTwitchCommunities
- [ ] https://github.com/grsoares21/dev-communities

![image](https://user-images.githubusercontent.com/2005841/156481235-626ea52e-a47a-4842-abb1-fe62b

[2022-03-08 15:57] pjonatansr commented on #160
How can I close that issue? @sibelius

[2022-03-08 16:07] #160 closed

[2022-03-09 01:40] sibelius commented on #188
good enough on main

tks

[2022-03-09 01:40] #188 closed

[2022-03-09 23:20] tgmarinho opened #253 "[Bug] UI - Increase the input bar"
Today:

![Screen Shot 2022-03-09 at 19 15 51](https://user-images.githubusercontent.com/380327/157555223-c0070d38-1e64-4d25-9147-eac3620caf07.png)

It seems the input bar should be bigger.

Suggestion:

![Screen Shot 2022-03-09 at 19 19 16](https://user-images.githubusercontent.com/380327/157555537-e755f5fe-a33e-4096-956e-d7a5deb9ff3f.png)

[2022-03-10 02:56] sibelius commented on #226
- [ ] discord guild id 751032355279339583

[2022-03-11 14:07] sibelius opened #260 "bring 3d sib"
- [ ] https://codesandbox.io/s/sib-3d-1c241

[2022-03-11 14:07] sibelius commented on #260
![image](https://user-images.githubusercontent.com/2005841/157883159-44f2d19d-0ee9-4af7-b19e-8f9749841b28.png)

[2022-03-11 15:26] sermoud opened #261 "Add replies as tweet stats"
Replies are stats that demonstrate better the relevance of some tweet.

- [x] add replies to tweet info

[2022-03-13 20:44] #261 closed

[2022-03-14 17:53] AdSoNaTuRaL commented on #126
@ktfth this could work

[2022-03-16 01:26] #159 closed

[2022-03-16 01:28] sibelius opened #270 "earn an invite to my private discord server"
- [x] twitter oauth (follow this https://github.com/kg0r0/twitter-oauth2-client/blob/d4815bba8e568edd1fc407be1bea10eaf2fa0344/src/index.ts#L40)
- [x] user login using twitter
- [x] we compute the score of tweets like, rt, replies (make a sum)
- [x] if the user pass a thresoald if can claim a discord invite
- [x] discord guild join https://discord.com/developers/docs/resources/guild#add-guild-membe

[2022-03-16 01:29] sibelius commented on #270
https://twitter.com/sseraphini/status/1503750926074585090

[2022-03-19 20:42] sibelius opened #276 "Estou com Sorte button"
- [ ] a new button that will open a random `cc @sseraphini` tweet

[2022-03-19 21:57] pjonatansr opened #277 "Add max size to the tweet image preview"
We need to set a max size to the tweet image preview to prevent to fill all the screen with only one tweet.
![image](https://user-images.githubusercontent.com/5343791/159139731-7c9c50f8-8f6e-4a44-a99b-e7fe29805165.png)

[2022-03-23 01:34] #126 closed

[2022-03-23 01:41] pjonatansr opened #297 "Can't we consume this data in the backend?"
can't we consume this data in the backend?

can't we use `useSession` in the backend?

_Originally posted by @sibelius in https://github.com/sibelius/ccsseraphini/pull/294#discussion_r832085226_

[2022-03-23 13:21] NicolasLopes7 opened #301 "(vscode-ext): Share an image of your code by selecting on vscode"
# Feature Request
When you're with the extension opened you can select a part of your code and generate an image for your tweet.

[2022-03-23 14:25] fersilva16 commented on #301
Maybe `ray.so` have some api for that? It's possible to generate a link but I don't know if we can download the image.

Example of url: (the code param is a base64)
`https://ray.so/?title=&theme=breeze&spacing=64&background=true&darkMode=true&code=bW9kdWxlLmV4cG9ydHMgPSBsZWZ0cGFkOwoKZnVuY3Rpb24gbGVmdHBhZChzdHIsIGxlbiwgY2gpIHsKICBzdHIgPSBTdHJpbmcoc3RyKTsKICB2YXIgaSA9IC0xOwoKICBpZiAoIWNoICYmIGNoICE9

[2022-03-23 14:39] NicolasLopes7 commented on #301
Sounds good! Nice @fersilva16!

[2022-03-23 21:14] noghartt commented on #277
I think that we can add a *max size* and an option to click on it to expand as a modal, similar to a tweet.

[2022-03-24 01:10] sibelius opened #303 "cc @sseraphini alexa skill"
- [ ] do a cc @/sseraphini directly from your alexa

[2022-03-24 01:34] pjonatansr commented on #270
### still needed
- [ ]  Show discord guild claim button
- [ ]  Validate user score ([here](https://github.com/sibelius/ccsseraphini/blob/main/apps/web/src/pages/api/discord/oauth.ts))
- [ ]  Use "discordGuildJoinPut" to call  the invite
- [ ] Improve Page /Score Layout
- [ ] Improve userScore Tweet Filter

[2022-03-24 10:17] arantespp opened #310 "Download score card image"
# Feature Request

A great feature is the possibility to download the scorecard as a downloadable image to share on Twitter or LinkedIn (yes, it'd be amazing to start evangelizing cc @sseraphini on LinkedIn).

## Why it is needed

It's fun to share with others my points.

## Possible implementation

We can solve it by creating an `useImage` hook with this API:

[code]

The `useImage` hook algorith

[2022-03-24 21:16] noghartt opened #312 "Add a tweet feed on ccsseraphini browser extension"
Maybe we should add a tab with the tweets with *"cc @sseraphini"* on the browser extension.

[2022-03-24 21:20] sibelius commented on #312
prereq https://github.com/sibelius/ccsseraphini/issues/101

[2022-03-25 21:48] tgmarinho opened #320 "Add security to flood serverless function"
To solve security you can set headers: "header-flood-secret-key": "my-super-passwd" and store inside of the .env `CRONJOB_HEADER_SECRET =  "my-super-passwd"`

and compare with the value of `"header-flood-secret-key" === CRONJOB_HEADER_SECRET `

_Originally posted by @tgmarinho in https://github.com/sibelius/ccsseraphini/issues/319#issuecomment-1079444198_

[2022-03-25 21:50] tgmarinho opened #321 "[Discord] Don't allow to send duplicated tweets on #tweets channel"
To fix duplicated, cron job can call every 5 minutes, but we can loss some tweets or we can store the latest tweet id sent do discord, maybe using mongoatlas or faunadb

_Originally posted by @tgmarinho in https://github.com/sibelius/ccsseraphini/issues/319#issuecomment-1079447045_

[2022-03-26 14:29] tgmarinho commented on #224
to automate RT you need blacklist words, and RT words that matter for the purpose of the ccsseraphine,
you'll not RT "java is shit", "react is dead", but you can RT "how to create a CRUD with java", "how to manage state with react"
white/preferred word are: "java", "react", and others and others.
This feature require a backend (db) to store data and streams from twitter to read and RT
even a tweet

[2022-03-26 15:20] tgmarinho commented on #320
WIP

[2022-03-27 19:47] Nick-Gabe commented on #321
maybe it isn't needed to run every 5 minutes, i think mantaining a cached list of posted tweets and use them to do a verification would be enough to prevent those duplicates

[2022-03-29 11:49] sibelius opened #337 "add storybook"
- [ ] storybook is cool to see all building blocks of this project

[2022-03-29 13:56] tgmarinho opened #339 "create page 404"

[2022-03-29 13:57] tgmarinho opened #340 "create page 500"
replace this one

<img width="1427" alt="Screen Shot 2022-03-29 at 09 57 20" src="https://user-images.githubusercontent.com/380327/160628010-deb9a4b9-a234-4192-86db-c1846c7785f5.png">

[2022-03-30 19:38] paulo-e opened #343 "500: Internal Server Error"
The website is not working right now.

https://sseraphini.cc/

[2022-03-30 19:56] tgmarinho commented on #343
I did the build locally and it's running! both dev and build/start

I recommend retrying to do the build cleaning cache

[2022-03-30 20:01] tgmarinho opened #344 "Make this app a PWA"
https://www.npmjs.com/package/next-pwa

[2022-03-30 20:02] tgmarinho opened #345 "Setup Sentry to catch errors and creating issues automatically"
https://docs.sentry.io/platforms/javascript/guides/nextjs/

[2022-03-30 21:04] paulo-e commented on #343
Fixed.

[2022-03-30 21:04] #343 closed

[2022-04-01 19:29] tgmarinho opened #363 "When I do mouse hover on replay button, should appear cursor pointer, now its showing cursor text"
<img width="467" alt="Screen Shot 2022-04-01 at 15 28 31" src="https://user-images.githubusercontent.com/380327/161329189-43ef9bbf-c01c-4976-8d48-3742f58d810a.png">

[2022-04-01 19:31] tgmarinho commented on #363
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor

[2022-04-01 20:03] #339 closed

[2022-04-01 20:03] #340 closed

[2022-04-01 20:51] tgmarinho commented on #363
👍🏼

[2022-04-01 20:51] #363 closed

[2022-04-01 21:31] sibelius opened #367 "bug responsive on iOS"
![image](https://user-images.githubusercontent.com/2005841/161343887-6d2e3ab8-67d2-41a0-98f2-8fb002d57ef1.png)

- [ ] https://sseraphini.cc/score/sseraphini

[2022-04-01 21:38] rafasilveira commented on #367
I've also found out that the Home Screen is a bit misaligned. I'll take a look on both.
![image](https://user-images.githubusercontent.com/64478636/161344813-35b535b1-c5ad-403d-b28d-dcf41c185000.png)

[2022-04-01 21:49] sibelius commented on #367
responsive is hard

[2022-04-01 21:56] vit0rr opened #368 "OG description errada"
# Bug

Quando pesquisa por "cc seraphini" aparece um tweet
![image](https://user-images.githubusercontent.com/70543018/161346266-797311a4-d2ec-40e5-b0b8-c28f15cb6007.png)

[2022-04-01 22:49] Nick-Gabe commented on #367
eu entrei na área pq pensei que ia só pintar botões 😭

[2022-04-02 11:23] italosantana commented on #368
O que estão pensando em colocar como description da og?

[2022-04-02 14:28] vit0rr commented on #368
O que é cc seraphini?

[2022-04-02 14:35] vit0rr commented on #368
Não acho que vamos chamar gente nova do cc seraphini com uma descrição decente. Quem usa isso já sabe o que está fazendo. A descrição que já existe é o suficiente

"Make it easy to cc @sseraphini"

O problema que deu, é que provavelmente foi SEO automático quando o Sibs comprou o domínio e o DNS rodou por ai... Então imagino que se tentar manualmente algumas técnicas de SEO deve atualizar a descri

[2022-04-03 21:49] VitorEstevam commented on #260
Eu tava testando algumas coisas relacionadas a isso, mas não estou conseguindo acessar o asset do modelo 3d. Tentei de várias formas.

`Error: Could not load /sib.glb: Only absolute URLs are supported`

![image](https://user-images.githubusercontent.com/55667307/161450163-97997bcc-915d-4c68-ad40-35e705576bba.png)

[2022-04-04 01:54] sibelius commented on #310
maybe another button

[2022-04-04 01:54] #310 closed

[2022-04-06 00:48] tgmarinho commented on #345
WIP

[2022-04-06 00:52] tgmarinho commented on #345
setup github+sentry:

- []
https://github.com/getsentry/sentry/tree/master/src/sentry_plugins/github
https://docs.github.com/pt/developers/apps/building-github-apps/creating-a-github-app

[2022-04-08 02:39] tgmarinho opened #412 "Feat - Users can give Likes in the Tweets"

[2022-04-08 02:39] tgmarinho opened #413 "Feat - Users can give RT in the Tweets"

[2022-04-12 23:59] tgmarinho commented on #344
wip

[2022-04-13 15:09] #344 closed

[2022-04-13 15:09] tgmarinho opened #434 "PWA - what about cache? how does the website invalidate the cache?"
what about cache? how does the website invalidate the cache?

_Originally posted by @sibelius in https://github.com/sibelius/ccsseraphini/issues/433#issuecomment-1098104443_

[2022-04-17 16:52] #270 closed

[2022-04-18 13:23] Yagasaki7K opened #462 "Feature - Fast reload on feed"
# Feature Request
I thought of something similar to twitter. Notify me when there are new tweets or update them automatically.

The only issue with all of this is to avoid it being something under the radar so it doesn't keep updating all the time for users who want to go to the bottom of the well to find a tweet.

## Why it is needed
Taking into account that it is necessary to click on the button

[2022-04-18 16:20] pjonatansr commented on #297
[Here](https://github.com/sibelius/ccsseraphini/blob/main/apps/web/src/pages/api/discord/oauth.ts#L104) an example of session in the backend.

[2022-04-18 16:21] pjonatansr commented on #297
![Screenshot_2022-04-18-13-21-22-274_com.github.android.jpg](https://user-images.githubusercontent.com/5343791/163838949-16bc075b-06ce-40b8-97c8-0b946c796ca9.jpg)

[2022-04-18 16:21] #297 closed

[2022-04-20 21:47] italosantana commented on #276
hm, where to put this button?

Using the URL:  https://sseraphini.cc/search...
- below textarea or next to Result Seach?

[2022-04-20 22:30] sibelius commented on #276
It should be at homepage

[2022-04-20 22:32] sibelius opened #472 "Test coverage"
Increase test coverage

We need tests for all pages
For all apis
For all interactions

Add codecov

[2022-05-09 16:36] arantespp opened #547 "sseramemes roadmap"
# Feature Request

- [x] Add watermark to pictures automatically (https://github.com/sibelius/ccsseraphini/pull/553/).
- [x] Add a timeout to RT memes tweet after some period (https://github.com/sibelius/ccsseraphini/pull/551).
- [x] Listen to tweets that mention @/sseramemes. Send these tweets to the memes channel to vote if we'll retweet them (https://github.com/sibelius/ccsseraphini/issues/576)

[2022-05-10 12:25] arantespp commented on #547
Nice lib, I didn't know it. We're using [this image](https://twitter.com/MyNickIsNick_/status/1519026700306239488 as the logo. Do you know if jimp.js allows us to insert a 30x30 image at the right bottom of another image?

[2022-05-10 12:41] Grubba27 commented on #547
link to water mark docs [here](https://www.npmjs.com/package/jimp#:~:text=image.mask(%C2%A0src%2C%C2%A0x%2C%C2%A0y%C2%A0)%3B%C2%A0)
I think it would be something like this code below :

const Jimp = require('jimp);

[code]

[2022-05-11 01:20] jeffque commented on #547
Error handling should be a little more user friendly. For example, it could send a message with the error in the discord server

[2022-05-18 02:33] #216 closed

[2022-05-18 13:47] arantespp opened #576 "RT from Discord"
# Feature Request

RT from Discord

## Why it is needed

Decentralize sseraphini and sseramemes.

## Possible implementation

We need to create a package that listens to a tweet pattern, sends it to a Discord channel, and lets the community vote if it'll be retweeted.

1. Create a server that uses Twitter Stream API to listen to a tweet pattern.
2. Send matched tweets to a Discord channel and wait

[2022-05-18 13:51] arantespp commented on #224
We can discuss here https://github.com/sibelius/ccsseraphini/issues/576

[2022-05-27 02:48] edumaciel10 opened #617 "Schedule sseramemes tweets"
Schedule @sseramemes tweets is a great idea to get more engajament on memes

[2022-05-30 19:13] vit0rr commented on #576
Will be cool if any person can subscribe to do RT with Sibelius.

Multiples rts

[2022-06-06 16:55] NicolasLopes7 opened #654 "Create Call for papers page for sibsday"

[2022-06-16 00:34] sibelius opened #703 "show time on tweets"
![image](https://user-images.githubusercontent.com/2005841/173964589-4654e359-dd18-45ba-b84f-981d9e15b3e9.png)

- [ ] right now is only showing date
- [ ] also show time

[2022-06-16 01:25] #703 closed

[2022-06-16 02:07] sibelius commented on #8
good enough tks

[2022-06-16 02:07] #8 closed

[2022-06-16 02:28] #224 closed

[2022-06-16 02:28] #226 closed

[2022-06-16 02:28] #576 closed

[2022-06-17 15:13] sibelius opened #714 "handle errors rt bot"
[code]

[2022-06-18 13:25] sibelius opened #719 "heroku bot alive"
- [ ] add a koa app that has a /status endpoint to make the dyno pod alive
- [ ] ping the /status when accessing http://sseraphini.cc/
- [ ] ping /status on the dyno using `useInterval`
- [ ] ping /status every time the bot receives a new tweet or reaction

[2022-06-18 20:05] sibelius commented on #719
heroku worker procfile

[2022-06-18 20:05] #719 closed

[2022-06-19 22:16] sibelius commented on #714
<img width="976" alt="image" src="https://user-images.githubusercontent.com/2005841/174502347-08cf8671-8cc1-4861-8004-cf7402aa0e5f.png">

[2022-06-20 11:31] sibelius opened #731 "listen to tweet that tagged me without cc"
- [ ] listen to `cc @sseraphini`
- [ ] also listen to `@sseraphini`

[2022-06-21 01:23] sibelius commented on #714
<img width="1391" alt="image" src="https://user-images.githubusercontent.com/2005841/174696969-93059f6a-cc43-4728-b9b0-a974953eed92.png">

[2022-06-22 17:50] sibelius commented on #714
<img width="982" alt="image" src="https://user-images.githubusercontent.com/2005841/175103767-c30bb735-5501-49f1-a259-de4cf3e31a49.png">

[2022-06-22 20:50] tgmarinho opened #741 "BUG - Not allow media type video or audio for #memes"
<img width="917" alt="Screen Shot 2022-06-22 at 16 50 01" src="https://user-images.githubusercontent.com/380327/175133631-e99821c3-0bf0-4f29-ab5a-1547fb2d7daa.png">

[2022-06-22 21:24] jeffque commented on #741
Media type video had (or still has? I must check it) a problem when signing with the Sseramemes watermark. But still should be possible to just send a video meme

Audio can't have watermark. I know that it is possible to upload sound when creating a tweet via mobile app as a user (record live), I have no idea if it is possible to send audio when tweeting as a bot.

[2022-06-26 18:15] vit0rr commented on #741
We can put the watermark using js-FFmpeg I guess

[2022-06-27 17:36] sibelius commented on #714
TypeError: Cannot read properties of undefined (reading 'users')
2022-06-27T15:18:15.889848+00:00 app[worker.1]:     at processTweet (/app/build/bot.js:48836:33)
2022-06-27T15:18:15.889849+00:00 app[worker.1]:     at run (/app/build/bot.js:48845:11)
2022-06-27T15:18:15.889849+00:00 app[worker.1]:     at processTicksAndRejections (node:internal/process/task_queues:96:5)
2022-06-27T15:18:15.889849+0

[2022-07-05 16:33] brunocroh opened #803 "BUG - Discord Guild Claim on /score not working"
# Bug

When I try to join discord at https://sseraphini.cc/score I am redirected to discord authorization, but I get a 401 error

## Steps To Reproduce

https://user-images.githubusercontent.com/13812512/177374467-8a8cd7df-10fc-4cff-b2e1-ca958fdd0ed8.mov

Describe what you expected to happen:

1. Enter a discord server

[2022-07-07 11:48] sibelius commented on #803
thanks, fixed the discord bot token

[2022-07-07 11:48] #803 closed

[2022-07-15 13:35] arantespp opened #849 "sseramemes "automatic" deploy"
# Feature Request

We run sseramemes on a Ubuntu server and use PM2 as the process manager. It'd be very useful if we:

1. create a cronjob to check and pull `main` every X time
2. add a [restart policy](https://pm2.keymetrics.io/docs/usage/restart-strategies/) to PM2 to automatically restart when sseramemes code changes.

[2022-07-15 13:38] kimjoaoun commented on #849
Can I try?

[2022-07-15 13:46] arantespp commented on #849
@kimjoaoun sure! But before implementing on Ubuntu, we need to consider other alternatives because we're running sseramemes on my personal server. Do you know if we can run it on Heroku or other platforms?

[2022-07-15 13:49] kimjoaoun commented on #849
Hmm, I don't know I just have experience using AWS. But yeah, I think it might be possible to deploy on Heroku, unfortunately due to my lack of knowledge on that platform I can't give you further instructions.

[2022-07-15 13:54] sibelius commented on #849
Heroku is free

[2022-07-15 13:59] oieduardorabelo commented on #849
two great contenders:

- https://render.com/pricing
- https://fly.io/

and all of them have Docker support,

happy to help

[2022-07-15 18:02] sibelius commented on #849
fly sounds good

[2022-07-16 02:14] oieduardorabelo commented on #849
I created a group message in Twitter with @arantespp @sibelius to discuss details

[2022-07-20 21:55] Grubba27 opened #861 "Add Link to exeternal URL"
Resolve this TODO:

![Captura de Tela 2022-07-20 às 18 54 36](https://user-images.githubusercontent.com/70247653/180089147-dfe7e4bd-48b6-4fba-bb01-a9a30879bcea.png)

Why? so that people can see their Twitter profile by clicking on their handler instead of a plain at with their handler

that is in: ``apps/web/src/pages/sibs-day/speaker/index.tsx``

[2022-07-28 12:14] tgmarinho opened #898 "replace yarn by pnpm"
replace **yarn** by **pnpm**

- increase the speed of the build
- work nicely with turbo repo

[2022-07-28 12:16] tgmarinho opened #899 "keep the .env in the root folder and share those ones with the packages and apps"
keep the .env in the root folder and share those ones with the packages and apps

- easy to maintain
- improve the productivity

[2022-07-28 12:20] fersilva16 commented on #898
Blocked by https://github.com/dependabot/dependabot-core/issues/1736

[2022-07-28 12:29] sibelius commented on #899
This does not make sense, as each project their own requirements

[2022-07-28 14:25] tgmarinho commented on #898
replace dependabot by renovatebot then

[2022-08-18 13:27] Nick-Gabe opened #978 "Sseramemes inserting `` into tweets"
I know it is used on Discord to prevent actually mentioning someone, but when passed to a tweet, I think \` should be removed.
![image](https://user-images.githubusercontent.com/42651514/185401020-4348f2f1-5923-4989-9e65-8a031f870390.png)

But incase you don't want to stop users from using ` in their tweets, do a regex validation to know if its actually being used to prevent a mention, and if it i

[2022-08-19 16:55] thenicolau opened #984 "Page memes"
# Feature Request

 create a page to list @sseramemes memes and make a post score
## Why it is needed
for organizing and finding memes more easily

## Possible implementation

### Code sample

[2022-08-19 17:18] GustavoNicolau commented on #303
what would be in this skill exactly?

[2022-08-22 14:21] beceluiz opened #991 "returning http status code to the user"
# Bug

when you click to claim your discord guild ticket on sserascore, 401 - unauthorized is returned

![image](https://user-images.githubusercontent.com/97623324/185943279-bb47fb42-a342-4126-b87a-5515ec20cd61.png)

[2022-08-22 20:25] beceluiz opened #992 "icon image link is broken"
# Bug

on the sserascore, the image link is broken
![bug](https://user-images.githubusercontent.com/97623324/186011718-9445e291-fbd9-4547-ab18-ab714cef0c89.jpeg)

[2022-08-22 20:37] #992 closed

[2022-08-25 02:39] beceluiz opened #1014 "home page buttons bug"
in some resolutions you can't see the last three butons on the home page
![ccseraphini](https://user-images.githubusercontent.com/97623324/186561018-eca23378-4785-4c58-a993-266eeacf7215.gif)

[2022-08-25 11:34] sibelius commented on #1014
scroll inside buttons? better ui?

[2022-08-29 14:39] italosantana commented on #984
![image](https://user-images.githubusercontent.com/48260257/187227024-d6f2892d-693d-44cc-b6c3-4a00ba5b63e4.png)
@GustavoNicolau
as like that 9gag?
button like/dislike about memes?

[2022-09-01 23:38] vit0rr commented on #367
Solved at https://github.com/sibelius/ccsseraphini/pull/372
Closing issue

[2022-09-01 23:38] #367 closed

[2022-09-01 23:40] vit0rr commented on #368
Looks solved
![image](https://user-images.githubusercontent.com/70543018/188030230-78ebc5c0-69c0-4938-ad97-3a8e5e55ed2c.png)

Closing issue

[2022-09-01 23:40] #368 closed

[2022-09-01 23:42] vit0rr commented on #277
Solved https://github.com/sibelius/ccsseraphini/pull/302

[2022-09-01 23:42] #277 closed

[2022-09-01 23:45] vit0rr commented on #253
Old issue and looks solved
![image](https://user-images.githubusercontent.com/70543018/188030641-1fba6b5b-3e57-4259-b64c-bde08762e3c1.png)

[2022-09-01 23:45] #253 closed

[2022-09-19 15:32] MarcusXavierr commented on #984
@italosantana couldn't we use just the likes on twitter to measure the score?

[2022-09-19 15:36] italosantana commented on #984
@MarcusXavierr a good idea. What do you think @GustavoNicolau and @sibelius ?

[2022-11-10 13:33] sibelius opened #1181 "avoid spam on cc @sseraphini"
- [ ] create an allowlist and blocklist using `const` variables
- [ ] this is useful to avoid bots and spams
- [ ] think of how to identify if a tweet is about a NFT, and block it

[2022-11-10 13:37] arturluizbr commented on #1181
Use IA to label tweets into topics, then have a white, gray and black lists about topics.

(Is it viable?)

[2022-11-10 13:38] arturluizbr commented on #1181
Block recently created accounts into using it. Maybe 24h or less.

[2022-11-10 14:31] akinncar commented on #1181
multiple tags
more than 5-6 @'s sounds like spam
NFT bots never tag only 3-4 accounts

[2022-11-10 14:32] akinncar commented on #1181
we should not block NFT or other topics, what about if a developer has a question about NFTs?

[2022-11-10 14:34] sibelius commented on #1181
![image](https://user-images.githubusercontent.com/2005841/201119220-fd547b35-67e2-4bb4-baf4-0fb3938e6618.png)

- [ ] block bots

[2022-11-10 14:34] sibelius commented on #1181
![image](https://user-images.githubusercontent.com/2005841/201119286-d3ca9126-3032-4ff7-86b5-defe7275c3d1.png)

- [ ] hiring tweets should only be RT if they are in the premium list

[2022-11-10 14:35] sibelius commented on #1181
- [ ] example of bot NFT spam

![image](https://user-images.githubusercontent.com/2005841/201119360-bdd4a52b-257a-434c-ab86-777fe3494577.png)

[2022-11-10 14:37] sibelius commented on #1181
- [ ] create a score for each tweet
- [ ] avoid tweets with a lower score
- [ ] a higher score means the tweet is valid with our approach
- [ ] a low score means it is from a bot, spam, or something else that do not fit in our selling points

[2022-11-10 19:12] vniche commented on #1181
Tweets with lots of mentions or tags are usually scams, I'd definitely ignore those.

[2022-11-14 11:31] #731 closed

[2022-11-14 11:31] #899 closed

[2022-11-14 11:31] #472 closed

[2022-11-14 11:32] sibelius commented on #547
good enough

[2022-11-14 11:32] #547 closed

[2022-11-14 11:32] sibelius commented on #898
not ready yet

[2022-11-14 11:32] #898 closed

[2022-11-14 11:33] #861 closed

[2022-11-14 11:33] sibelius commented on #654
working

[2022-11-14 11:33] #654 closed

[2022-11-14 11:33] #337 closed

[2022-11-14 11:33] sibelius commented on #321
we have this on #tweets  channel already using stream

[2022-11-14 11:33] #321 closed

[2022-11-14 11:34] sibelius commented on #320
same as https://github.com/sibelius/ccsseraphini/issues/321

[2022-11-14 11:34] #320 closed

[2022-11-14 11:34] sibelius commented on #101
nextjs externalDir: true I guess

[2022-11-14 11:36] sibelius commented on #345
sentry is there, tks

[2022-11-14 11:36] #345 closed

[2022-11-14 16:52] EronAlves1996 commented on #1181
This is a good Idea.
It can add a negative score for every mention on tweet

[2022-11-14 17:29] sibelius commented on #1181
- [ ] create a blocklist of "patriotas" bots to auto unfollow and block and report

[2022-11-14 17:37] ViLourenco commented on #1181
Elon is going to remove it soon:
https://twitter.com/elonmusk/status/1592178009410531330

[2022-11-14 17:54] sibelius commented on #1181
https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/mute-block-report-users/api-reference/post-blocks-create

[2022-11-14 18:27] ViniBGoulart commented on #1181
only when they use the tag? or when to follow? or always?

[2022-11-14 18:30] sibelius commented on #1181
for this new kind of attack, we can also check new follows

[2022-11-16 11:48] sibelius opened #1200 "forum message automation is not working"
2022-11-16T11:46:41.504015+00:00 app[worker.1]: Could not fetch user of id: 112368837852180480
2022-11-16T11:46:41.504044+00:00 app[worker.1]: [Error] - TypeError: Cannot read properties of undefined (reading 'send')

[2022-11-16 11:50] sibelius commented on #1200
intents and channel id was broken

[2022-11-16 11:50] #1200 closed

[2022-11-17 23:07] tgmarinho opened #1201 "[sseramemes] IA Meme Generator Bolha Dev Sibs Server"
# IA Meme Generator Bolha Dev Sibs Server

Idea:

Each 30 minutes, the backend should create memes using **text** and **image** about  _bolha tech_, using the IA, then send it to #memes discord for humans up/down vote. If approves the meme, it will be published in the sseramemes twitter account.

- Where to get images?
- Where to get Texts (maybe twitter sibs account)
- Which IA can we use?

[2022-11-18 17:53] tgmarinho opened #1207 "Should we migrate to the koo?"
Now that Twitter is dying, should we migrate the data to the koo and post new memes in the koo as well?

[2022-11-18 17:59] ViniBGoulart commented on #1207
https://help.twitter.com/en/managing-your-account/accessing-your-twitter-data

[2022-11-18 18:07] sibelius commented on #1207
both

[2022-11-18 21:28] sibelius opened #1208 "migrate to nextjs 13 app folder server components"

[2022-11-18 22:18] fernandOlle commented on #1208
could you open a [project ](https://github.com/sibelius/ccsseraphini/projects?query=is%3Aopen)so we can have a kanban-like board?

would be really helpful for coordinating our effort.

could also be a Trello board, tho.

[2022-11-18 23:04] fernandOlle commented on #1014
there's another bug in this UI, at first load when the buttons panel jumps to the side the **search** button shrinks and never resizes back.

![image](https://user-images.githubusercontent.com/55040050/202817272-0b3376c9-093c-44df-b7ff-9f96cfd30542.png)

[2022-11-21 14:04] vinibgoulart opened #1214 "add project documentation"
# Feature Request
Add Documentation

## Why it is needed
make the project easier to contribute to.
for beginners to understand and have a roadmap to understand and be willing to contribute.

## Use [docusaurus](https://docusaurus.io/docs)

[2022-11-21 22:14] jeffque opened #1215 "[sseramemes] multi image upload"
# Feature Request

Meme with multiple images / videos

## Why it is needed

Some memes need multiple images to be funny

## Possible implementation

- Check if message contains 4 or less media
- Add logo in all media and post it in a single tweet
  - Check twitter API for multiple uploads in single tweet

### Code sample

[2022-11-21 22:17] jeffque commented on #1207
- [ ] Koo api to create a post with media (sseramemes)
- [ ] Koo api to listen mentions (cc sseraphini and sseramemes)
- [ ] Koo api to retweet (cc sseraphini and sseramemes)

[2022-11-21 22:22] jeffque commented on #1215
First multi media meme must be Pope Francis meme holding this issue

[2022-11-22 13:45] jeffque opened #1221 "[sseramemes] reset command"
# Feature Request

A chat command that forces sseramemes to restart itself

## Why it is needed

When something goes wrong with a single twitter mention, all other mentions halts.

One can fix this specific problem or be aware of future unknowns that a single reset would suffice.

## Possible implementation

Listen to chat.

If a non orthodox text resembling a reset command is found, reset the bot

[2022-11-22 14:22] sibelius commented on #1221
same for cc sseraphini

not sure if this is possible

[2022-11-23 00:49] Nick-Gabe opened #1224 "Persist sseraphini.cc score"
# Feature Request
Persist sseraphini score

## Why it is needed
Since the score only picks the 100 most recent tweets, if the user tweets too frequently, their score will disappear fast.
Therefore benefiting who doesn't tweet so often but uses cc frequently than someone who sometimes uses cc but does a lot of tweets

## Possible implementation
When someone goes to the score page of a user, save th

[2022-11-23 11:12] pjonatansr commented on #1224
Today, we already save the tweets in a mongodb and the score is updated daily.

## Suggestion

To implement this score on sseraphini.cc, I suggest:

- Creating a lambda to query all RankedTweets for an author_id.
- Sum score and public metrics for each tweet.

## How the score update works

Every time the cc @sseraphini is marked, twitter sends tweet data via stream to the bot, which in turn proce

[2022-11-25 13:03] sibelius opened #1236 "sseramemes stable diffusion"
- [ ] be able to generate a meme using stable diffusion + text interpolation
- [ ] https://huggingface.co/stabilityai/stable-diffusion-2

[2022-11-25 14:22] nephi-dev commented on #1236
gonna leave some refs here:

Stability just dropped SD v2
- SD2.0 -> https://github.com/Stability-AI/stablediffusion

The colab to Dreambooth(fine tune memes in it)
- fast DB -> https://colab.research.google.com/github/TheLastBen/fast-stable-diffusion/blob/main/fast-DreamBooth.ipynb

The colab to Textual Inversion(fine tune subjects, styles, anything. Less effective as DB)
- TI -> https://colab.re

[2022-11-25 14:45] sibelius commented on #1236
we can use v1

[2022-11-25 14:52] nephi-dev commented on #1236
it's easier(and has more implementations than the v2), I also sugest using it, 1.4 or 1.5, both are good

[2022-11-25 14:57] sibelius commented on #1236
how would you combine `image` + text ?

like this https://imgflip.com/memegenerator

[2022-11-25 16:13] nephi-dev commented on #1236
maybe using PIL to interpolate both, it has a func to add text to an image(on a specific pixel), maybe the hard part will be detecting where it needs to go, or just selecting the pixel by yourself should be enough

[2022-11-29 12:27] pjonatansr opened #1251 "Fix “since” date/hour from tweet ranking"
The start date of the ranking is being initialized at 23:59, but it should start at 00h

![image](https://user-images.githubusercontent.com/5343791/204528266-e0d22855-7feb-41d1-b8c3-17f40022da5f.png)

[2022-11-29 12:30] pjonatansr opened #1252 "Only the weekly ranking is working correctly"
The cc sseraphini's tweets ranking should be running daily, but it is currently only being posted weekly, it is necessary to analyze to understand the reason.